@charset "UTF-8";
@font-face {
  font-family: antonio;
  src: url(../fonts/antonio.ttf); }
@font-face {
  font-family: lora;
  src: url(../fonts/lora.ttf); }
@font-face {
  font-family: hiatus;
  src: url(../fonts/hiatus.otf); }
.mensagem {
  flex-basis: 100%;
  width: 100%;
  padding: .5rem 1rem;
  border-radius: 2rem; }

.mensagemInput {
  flex-basis: 100%;
  width: 100%;
  border-radius: 2rem;
  font-size: .8rem;
  padding: 0;
  margin: 0;
  display: none; }

body {
  background: #FDDCBA; }

textarea ~ p {
  font-size: .9rem;
  margin: 0 0 1rem; }

input, textarea {
  font-weight: 700;
  border-radius: 2rem;
  border: none;
  padding: .5rem;
  width: 100%;
  margin: .5rem 0;
  padding: .5rem 1rem;
  font-family: lora;
  -webkit-user-select: "all";
  -moz-user-select: "all";
  box-sizing: border-box; }

button {
  font-weight: 700;
  border-radius: 2rem;
  border: none;
  padding: .5rem;
  cursor: pointer;
  padding: .5rem 1rem;
  background: #6C5037;
  color: #fff;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  transition: .6s;
  -webkit-user-select: none;
  -moz-user-select: none; }
  button:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background: #feea00;
    color: #000; }

#modal-multipla {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  transition: 1s;
  background: #4A4A48;
  display: none; }
  #modal-multipla > * {
    position: relative;
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center; }
  #modal-multipla > * {
    background: #FDDCBA;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    justify-content: space-around; }
    #modal-multipla > * > p {
      flex-basis: 100%;
      font-family: antonio; }
    #modal-multipla > * button:nth-child(3) {
      background: #FF312E; }

@media(max-width:768px) {
  #modal-multipla > * {
    flex-basis: 40% !important; } }
@media(max-width:548px) {
  #modal-multipla > * {
    flex-basis: 70% !important; } }
/*importação da fonts e cor */
@keyframes mostrarMenu {
  0% {
    left: -18%; }
  100% {
    left: 0; } }
@keyframes mostrarMenu_md {
  0% {
    left: -40%; }
  100% {
    left: 0; } }
@keyframes mostrarMenu_sm {
  0% {
    left: -70%; }
  100% {
    left: 0; } }
body {
  padding: 0;
  margin: 0; }

#menu-top {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFF;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  padding: 1rem 2rem 1rem 1rem;
  box-sizing: border-box;
  font-family: lora;
  color: #000;
  -webkit-user-select: none;
  -moz-user-select: none; }
  #menu-top p {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 0; }
  #menu-top #menu-icon {
    color: red;
    font-family: hiatus;
    font-size: 1.5rem; }
  #menu-top #id-logado {
    cursor: pointer;
    color: #000;
    margin: 0;
    padding: 0; }
  #menu-top #menus:checked ~ svg {
    color: red; }

#menus:checked ~ #menu-lateral {
  animation-name: mostrarMenu;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards; }

#menu-lateral {
  box-sizing: border-box;
  left: -18%;
  background: #4A4A48;
  color: #FFF;
  position: fixed;
  height: 100pc;
  width: 18%;
  z-index: 1;
  font-family: antonio; }
  #menu-lateral > * {
    padding: 0;
    margin: 0;
    flex-basis: 100%;
    -webkit-user-select: none;
    -moz-user-select: none; }
  #menu-lateral a {
    color: #000; }
  #menu-lateral a:hover {
    text-decoration: none; }
  #menu-lateral > p {
    text-align: center;
    padding: 1rem;
    font-family: lora; }
  #menu-lateral #menuOpcoes {
    align-self: flex-start; }
    #menu-lateral #menuOpcoes > * {
      cursor: pointer;
      margin: 0;
      padding: 0; }
    #menu-lateral #menuOpcoes p:not(p > *) {
      transition: background .6s;
      padding: .5rem 1rem !important; }
    #menu-lateral #menuOpcoes p:hover {
      background: rgba(255, 255, 255, 0.2); }
    #menu-lateral #menuOpcoes div {
      width: 100%; }
    #menu-lateral #menuOpcoes li {
      list-style: none;
      padding: 0 0 0 2rem;
      background: #DBD4D3;
      color: #000; }
      #menu-lateral #menuOpcoes li:hover {
        background: #b9b9b9; }

@media(max-width:768px) {
  #menu-lateral {
    width: 40%;
    left: -40%; }

  #menus:checked ~ #menu-lateral {
    animation-name: mostrarMenu_md; } }
@media(max-width:548px) {
  #menu-lateral {
    width: 70%;
    left: -70%; }

  #menus:checked ~ #menu-lateral {
    animation-name: mostrarMenu_sm; } }

/*# sourceMappingURL=menu.css.map */
